*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shippingInfo{
    width: 50%;
    border: 1px solid green;
    margin-top: 2%;
}
.logo{
    width: 12%;
}
/* .main{
    margin:4%;
} */