*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*                     */
a{
    text-decoration: none;
    color: black;
}
body{
    width: 100%;
    /* border: 1px solid blue; */
}
.testCarouselImg{
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;   
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0; 
    padding: 0;
}
.slide{
    padding-top: 8%;
    position: absolute;
    width: 100%;
    margin: auto;
    transition: .6s;
}
.previousSlide,.nextSlide{
    position: absolute;
    top: 50%;
    padding: 1.2%;
    font-size: 120%;
    color: white;
    background-color: lightgray;
    /* transition: 0.5sec; */
    border: none;
    /* z-index: 5; */
}
.previousSlide:hover,.nextSlide:hover{
    background-color: black;
    transition: background-color 0.6s ease;
}
.previousSlide{
    left: 1px;
    border-radius: 0 5px 5px 0;
}
.nextSlide{
    right: 1px  ;
    border-radius: 5px 0 0 5px ;
}
/*                       */


/* .navbar{
    border: 2px solid red;
} */

body{
    /* position: relative; */
    width: 100%;
    overflow-x: hidden;
}


.slideShow{
    position: relative;
    display: flex;
    flex-direction: row;
    /* margin-top: 5%; */
    width: 100%;
    transition: transform 0.3s;
}
.slideShow div{
    /* border: 2px solid salmon; */
    /* transform:translateX(100%); */
    width:100%;
}
.slideShow div img{
    width:fit-content;
    height: 95vh;
}
.changeNext,.changePrev{
    position: absolute;
    top: 50%;
    color: white;
    background-color: lightgray;
    border: none;
    padding: 1% 1%;
    border-radius: 10%;
    width: 3%;
    height: 8%;
    /* border: 2px solid green; */
}

.changePrev{
    left: 97%;
}
.container{
    /* margin: 7%; */
    /* padding: 0; */
    /* box-sizing: border-box; */
    box-sizing: content-box;
    border: 2px solid green;
    width: 100%;
    height: 100vh;
}
/* .carousel-inner{
    width: 100%;
} */
.item{
    position: relative;
    width: 100%;
}
.item img{
    width: 100%;
}
.carousel-caption{
    position: absolute;
    width: 50%;
    left: 70%;
}
ol{
    position: absolute;
    top: 100%;
    bottom: 20%;
    height: 20%;
    color: black;
}
ol li{
    color: black;
}

.speciality{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    gap:10%;
    font-size: 110%;
    position: relative;
    width: 25%;
    margin: auto;
    /* border-bottom: 1px solid gray; */
    /* border: 1px solid red; */
}
.speciality::after{
    position: absolute;
    content:"";
    border-bottom: 2px solid lightgray;
    width: 100%;
    top:100%;
}
.speciality a{
    text-decoration: none;
    color: black;
}
.speciality a:hover{
    text-decoration: none;
    color: black;
}
.markerSpec{
    display: flex;
    position: absolute;
    width: 30%;
    border-bottom: 3px solid black;
    top: 100%;
    z-index: 2;
    transition: 0.5s;
    left: 0%;
}
.bestSellers::-webkit-scrollbar {
    display: none;
}
.leftData::-webkit-scrollbar {
    display: none;
}
.activeBullet{
    background-color: black;
    outline: 1px solid blue;
    outline-offset: 1px;
}
.nextToActiveBullet{
    background-color: black;
    outline: 1px solid black;
    outline-offset: 1px;
}
.newArrivals::-webkit-scrollbar {
    display: none;
}
.giftSets::-webkit-scrollbar {
    display: none;
}
.virtueProducts::-webkit-scrollbar {
    display: none;
}
.next,.prev{
    color: white;
    background-color: lightgray;
    border: none;
    padding: 1% 1%;
    border-radius: 10%;
    width: 3%;
    height: 10%;
}
.nextMobile,.prevMobile{
    display: none;
    color: white;
    background-color: lightgray;
    border: none;
    padding: 1% 1%;
    border-radius: 10%;
    width: 3%;
    height: 10%;
}

.typeLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% 2%;
}
.typeLogo img{
    width: 90%;
}
.virtue p:first-of-type{
    width: 16%;
    font-size: 150%;
    font-weight: 600;
    /* border: 2px solid gray; */
    margin: auto;
    padding: auto;
}
.virtue p:last-of-type{
    width: 32%;
    font-weight: 500;
    margin: auto;
    padding: auto;
}
.leftVirtueImg{
    width: 40%;
    height:75vh;
}
.virtueImgs{
    display: flex;
    width: 100%;
    gap:1%;
    margin:2%;
}
.nextVirtue{
    position: absolute;
    width: 2.5%;
    height: 6%;
    background-color: lightgray;
    border: none;
    top: 49%;
    left: 42%;
    border-radius:0 5px 5px 0;
}
/* .virtueProducts{
    overflow:hidden;
} */
.nextVirtue i{
    color: black;
}
.prevVirtue i{
    color: black;
}
.prevVirtue{
    position: absolute;
    /* border: 2px solid yellow; */
    width: 2.5%;
    height: 6%;
    background-color: lightgray;
    border:none;
    top: 49%;
    right: 3%;
    border-radius: 5px 0 0 5px;
}
.prevVirtueMobile{
    display: none;
    position: absolute;
    /* border: 2px solid red; */
    width: 10%;
    height: 6%;
    background-color: lightgray;
    border:none;
    top: 55%;
    right: 0%;
    border-radius: 5px 0 0 5px;
}
.nextVirtueMobile{
    display: none;
    position: absolute;
    /* border: 2px solid red; */
    width: 10%;
    height: 6%;
    background-color: lightgray;
    border:none;
    top: 55%;
    left: 0%;
    border-radius: 5px 0 0 5px;
}
.supportStaff h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
.supportImgs{
    display: flex;
    /* gap: 2%; */
}
.supportImgs div{
    width: 35%;
    margin: 1% 2% ;
}
.supportImgs img{
    width: 100%;
}
.supportImgs div p:first-of-type{
    font-size: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.supportImgs div p:last-of-type{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.categories{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.line{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid lightgray;
    width: 25%;
    margin: 0 38%;
}
.categories button{
    border: none;
    font-size: 120%;
}
.categories button:hover{
    border-bottom: 2px solid black;
}
.spotLightHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.spotPrLeft{
    width: 40%;
}
.featuredBrands{
    display: flex;
    gap:3%;
    justify-content: center;
    align-items: center;
}
.featuredBrands img{
    width: 13%;
    height: 20vh;
}

.featuredBrands img:nth-child(2){
    height: 4vh;
    margin: 5% 0;

}
.sponsored{
    border: 1px solid gray;
    margin-top: 5% 0 0 0;
    width: 100%;
    display: flex;
    height: 80%;
    flex-direction: row;
}
.sponsoredRight{
    width: 45%;
}
.sponsoredRight img{
    width: 100%;
    height: 100%;
}
.sponsoredLeft{
    width: 60%;
    /* border: 1px solid green; */
}
.leftData{
    width:100%;
    height: 80%;
    display: flex;
    overflow: hidden;
    gap: 60px;
    /* position: relative; */
}
.sponsoredProduct{
    width: 400px;
    display: flex;
    height: 100%;
    /* position: absolute; */
    transition: 0.5s;
}
.sponsoredButtons{
    height: 10%;
}
.sponsoredProductImg{
    padding: 10% 2% 5% 2%;
    width: 170px;
    height: 100%;
}
.sponsoredProductDesc{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10%;
    width: 200px;
    padding: 10% 3% 5% 3%;
    font-size: 95%;
    height: 100%;
    /* border: 1px solid pink; */
}
/* .dataBest{
    height: 40%;
} */
.fullLine{
    border-bottom: 0.8px solid black;
}

@media only screen and (min-width: 481px){
    .speciality{
        width: 100%;
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center
        !important
    }
    .spec1,.spec2,.spec3{
        width: 33%;
        text-align: center;
    }
    .markerSpec{
        width: 33%
    }
}
@media only screen and (min-width: 900px) and (max-width:1024px){
    .best{
        width: 45%;
        height: 55vh
        !important
    }
}
@media only screen and (min-width: 1025px) and (max-width:1200px){
    .speciality{
        width: 100%;
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center
        !important
    }
    .spec1,.spec2,.spec3{
        width: 33%;
        text-align: center;
    }
    .markerSpec{
        width: 33%
    }
}
@media only screen and (min-width: 1201px){
    .best{
        width: 45%;
        height: 80vh
        !important
    }
    .speciality{
        width: 100%;
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center
        !important
    }
    .spec1,.spec2,.spec3{
        width: 33%;
        text-align: center;
    }
    .markerSpec{
        width: 33%
    }
}
@media only screen and (max-width: 899px){
    .best{
        width: 40%;
        height: 50vh
        !important
    }
}
@media only screen and (min-width: 480px) and (max-width:768px){
    /* .best{
        width: 100%;
        height: 60vh
        !important
    }   
    .best img{
        width: 60%;
    } */
    .prev{
        width: 8%;
    }
    .next{
        width: 8%; 
    }
    .virtue p{
        width: 100%
        !important;
        text-align: center
        !important;
    }
    .virtueImgs{
        flex-direction: column;
        width: 100%
        !important;
        /* margin-left: 4%
        !important; */
        align-items: center;
    }
    .virtueImgs>img{
        width: 70%
        !important;
        padding: 0
        !important;
        height:70vh
    }
    .virtueProducts{
        width: 90%
        !important;
        overflow:hidden
        !important;
    }
    .prevVirtue,.nextVirtue{
        display: none;
    }
    .prevVirtueMobile,.nextVirtueMobile{
        display: block;
    }
}
@media only screen and (min-width: 320px) and (max-width:899px){
    .best{
        width: 100%
        !important;
        height: 90vh
        !important  
    }
    .newArrivals{
        width: 100%
        !important;
        height: 90vh
        !important  
    }
    .giftSets{
        width: 100%
        !important;
        height: 90vh
        !important  
    }
    .testCarouselImg{
        height: 300px;
    }
    .speciality{
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .spec1,.spec2,.spec3{
        width: 30%;
    }
    .markerSpec{
        width: 30%
    }
    .featuredBrands{
        width: 100%;
        gap: 5%;
        row-gap:20px;
        flex-wrap: wrap
        !important;
        margin-bottom: 50px;
    }
    .featuredBrands img{
        width: 25%
        !important;
        height: 40%;
    }
    .social a{
        width: 24%;
    }
    .virtue p{
        width: 100%
        !important;
        text-align: center
        !important;
    }
    .sponsoredLeft p{
        left: 80%
        !important
    }
    /* .virtueImgs>img{
        width: 100%
        !important;
        padding: 0
        !important;
        height:0vh
    } */
    .sponsoredProductImg{
        width: 170px;
    }
    .sponsoredProductDesc{
        height: 40vh;
        gap: 0%;
        padding:15% 2% 0 2%
        !important;
        width: 150px
        !important
    }
}
@media only screen and (min-width: 769px) and (max-width:899px){
    .virtueImgs>img{
        width: 45%
        !important;
        padding: 0
        !important;
        height:55vh
    }
    .prevVirtue,.nextVirtue{
        display: none;
    }
    .prevVirtueMobile{
        display: block;
        left:45%;
        width: 6%;
    }
    .nextVirtueMobile{
        display: block;
        left:93%;
        width: 6%;
    }
}
@media only screen and (min-width: 320px) and (max-width:480px){
    .best{
        width: 100%
        !important;
        height: 90vh
        !important  
    }
    .newArrivals{
        width: 100%
        !important;
        height: 90vh
        !important  
    }
    .giftSets{
        width: 100%
        !important;
        height: 90vh
        !important  
    }
    .arrival{
        width: 100%;
        height: 70vh
        !important
    }
    .typeLogo{
        flex-direction: column;
    }
    .featuredBrands img{
        width: 25%
        !important
    }
    .virtue p{
        width: 100%
        !important;
        text-align: center
        !important;
    }
    .virtueImgs{
        flex-direction: column;
        width: 100%
        !important;
        /* margin-left: 4%
        !important; */
        align-items: center;
    }
    .virtueImgs>img{
        width: 100%
        !important;
        padding: 0
        !important;
        height:50vh
    }
    .virtueProducts{
        width: 90%
        !important;
        overflow:hidden
        !important;
    }
    .prev,.next{
        display: none;
    }
    .prevMobile,.nextMobile{
        display: block;
        width: 8%;
    }
    .spotPrLeft img{
        width: 100%;
    }
    .prevVirtue,.nextVirtue{
        display: none;
    }
    .prevVirtueMobile,.nextVirtueMobile{
        display: block;
    }
    .supportImgs{
        flex-direction: column;
    }
    .supportImgs div{
        width: 100%;
        padding: 0 2%;
    }
    .sponsored{
        flex-direction: column;
    }
    .sponsored div{
        width: 100%;
    }
    .sponsoredLeft p{
        left: 80%
        !important
    }
    .sponsoredProduct{
        width: 400px
        !important
    }
    .sponsoredProductImg{
        width: 190px;
    }
    .sponsoredProductDesc{
        height: 40vh;
        gap: 0%;
        padding:15% 2% 0 2%
        !important;
        width: 150px
        !important
    }
    .sponsoredProductDesc p{
        font-size: 100%
        !important
    }
}